{# путь до шаблона от корня сайта #}
{% set tplPath = '/' %}

{# макрос для вставки svg из спрайта #}
{% macro svg(id, classIn) %}
    {% set className = classIn ? ' '~classIn : '' %}
    <svg class="icon icon-{{ id~className }}">
        <use xlink:href="{{ tplPath }}images/sprite.svg#sprite-{{ id }}" />
    </svg>
{% endmacro %}

{% import _self as _self %}

{% set title = title ?? 'Заголовок' %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Программирование и верстка: @milkamil93.">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,height=device-height,viewport-fit=cover">
    <title>{{ title }}</title>
    <base href="/">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:image" content="images/logo.png">
    <meta name="theme-color" content="#fff">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="favicon.ico" type="image/x-icon">
</head>
<body>

{% block header %}
<header class="header">

</header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer class="footer">

</footer>
{% endblock %}

{% if componentName %}
    <script>componentName = '{{ componentName }}';</script>
{% endif %}
</body>
</html>